@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 >Bienvenido a Cinarg</h1>
    <p>No somos gringos.</p>
</div>

@foreach(Series serie in @ViewBag.Series)
{
    <p>@ViewBag.Series</p>
}